body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* --------------------------------
------------- MY CSS --------------
-------------------------------- */
.l25{
  width: 20%!important
}

.py-2 {
  padding: .55em 0em!important;
}

.px-2 {
  padding: 0em .55em!important;
}

.mx-2 {
  margin: 0 5%;
}

.m-2 {
  margin: 5% 5%;
}

.mt-0 {
  margin-top: 0px;
}

.text-left{
  text-align: left;
  padding-left: 5%;
}

.center-children{
  display: flex;
  align-items: center;
  justify-content: center;  
  text-transform: capitalize;
}

.break {
  word-break: break-all;
}

.spyMaster-true{
  font-weight: bold;
  text-transform: uppercase;
}

.spyMasterCards .card-title {
  font-weight: 400!important
}

.black {
  color: white;
}

.adminImg {
  position: fixed;
  bottom: 1%;
  right: 1%;
  width: 1.5%;
}

